<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxf.dao.InstanceInfoDao">
    <!--<resultMap id="instanceConfigMap" type="com.gxf.entity.InstanceConfig">-->
        <!--<id property="id" column="id"/>-->
        <!--<result property="configKey" column="config_key"/>-->
        <!--<result property="configValue" column="config_value"/>-->
        <!--<result property="info" column="info"/>-->
        <!--<result property="updateTime" column="update_time"/>-->
        <!--<result property="type" column="type"/>-->
        <!--<result property="status" column="status"/>-->
    <!--</resultMap>-->

    <insert id="addInstanceInfo" parameterType="com.gxf.entity.InstanceInfo">
        insert into instance_info(host, port, password, status) VALUES (#{host}, #{port}, #{password}, #{status})
    </insert>
    <select id="queryByHostAndPort" resultType="com.gxf.entity.InstanceInfo">
        SELECT  * from instance_info where host = #{host} and port = #{port};
    </select>
    <update id="update">
        UPDATE instance_info set password=#{password}, status=#{status} where id=#{id};
    </update>
    <select id="queryAll" resultType="com.gxf.entity.InstanceInfo">
        SELECT * FROM instance_info;
    </select>
    <select id="queryById" resultType="com.gxf.entity.InstanceInfo">
        SELECT * FROM  instance_info where id = #{id};
    </select>
</mapper>