<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gxf.dao.AppDescDao">
    <select id="queryByAppkey" resultType="com.gxf.entity.AppDesc">
        SELECT  * from app_desc WHERE app_key = #{appKey};
    </select>
</mapper>