<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gxf.dao.MachineStaticsDao">
    <select id="add" parameterType="com.gxf.entity.MachineStatics">
        INSERT INTO machine_statistics(host_id, ip, cpu_usage, `load`, traffic, memory_usage_ratio, memory_free, memory_total, create_time, `modify_time`)
        VALUES (#{hostId}, #{ip}, #{cpuUsage}, #{load}, #{traffic}, #{memoryUsageRatio}, #{memoryFree}, #{memoryTotal}, #{createTime}, #{modifyTime});
    </select>
    <select id="queryAll" resultType="com.gxf.entity.MachineStatics">
        SELECT  * from machine_statistics;
    </select>
    <update id="updateMachineStatics" parameterType="com.gxf.entity.MachineStatics">
        UPDATE  machine_statistics set cpu_usage=#{cpuUsage}, `load`=#{load}, traffic=#{traffic}, memory_usage_ratio=#{memoryUsageRatio}, memory_free=#{memoryFree},
        memory_total = #{memoryTotal}, `modify_time`=#{modifyTime} where ip=#{ip};
    </update>
    <select id="queryMachineStaticsByIp" resultType="com.gxf.entity.MachineStatics" >
        select * from machine_statistics where ip = #{ip}
    </select>
</mapper>